</div>
</div>

<div class="footer navbar-inverse">
  <p class="footer-links"><a href="/">START</a> | <a href="/impressum">IMPRESSUM</a> | <a href="/datenschutz">DATENSCHUTZ</a></p>
  <p>© 2016-2022 GW PLAN | Gieẞerstraẞe 18 | 04229 Leipzig</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>
