<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title><%- pageTitle -%> - GW PLAN Ingenieurgesellschaft Gebäudetechnik - PLANEN MIT ENERGIE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');
  </style>

  <script src="https://kit.fontawesome.com/a2c9eac8e3.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body onload="initMap()">
  <img class="bg-img" src=<%- pageImage -%>></img>

  <nav class="navbar navbar-expand-lg navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">GW PLAN</a>
        <button class="visible-xs hidden-sm hidden-md hidden-lg navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <img class="" src="/images/hamburger-icon.png"></img>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="/buero">Büro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/leistungen">Leistungen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/referenzen">Referenzen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kontakt">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="page-body">
