<%- include("partials/header"); -%>


<div class="row buero-heading-styling">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="col-md-6">
        <h1 class="display-4">Mitarbeiter</h1>
        <p class="lead">Unser Team ist stets für sie da.</p>
      </div>
      <div class="col-md-6">
        <img class="mitarbeiter-img" src="/images/Team2.jpg" alt="GW PLAN - Planen mit Energie - GW Plan | Ingenieurgesellschaft Geb&auml;udetechnik GbR | Gie&szlig;erstra&szlig;e 18 | 04229 Leipzig" title="GW PLAN - PLANEN MIT ENERGIE" />
      </div>
    </div>
  </div>
</div>

<table class="table table-striped table-hover">
  <tbody>
    <tr>
      <td>Herr Wiedemuth</td>
      <td>Dipl.-Ing.</td>
      <td>Inhaber / Planung HLS</td>
    </tr>
    <tr>
      <td>Herr Gäbler</td>
      <td>Dipl.-Ing.</td>
      <td>Inhaber / Planung HLS</td>
    </tr>
    <tr>
      <td>Frau Bothe</td>
      <td>Bürokauffrau</td>
      <td>CAD / Sektretariat</td>
    </tr>
    <tr>
      <td>Frau Bryks</td>
      <td>Dipl.-Ing. (BA)</td>
      <td>Planung HLS</td>
    </tr>
    <tr>
      <td>Frau Hübner</td>
      <td>Techn. Zeichnerin</td>
      <td>CAD</td>
    </tr>
    <tr>
      <td>Herr Kriese</td>
      <td>Staatl. gepr. Techniker</td>
      <td>Planung HLS</td>
    </tr>
    <tr>
      <td>Herr Münnich</td>
      <td>Staatl. gepr. Techniker</td>
      <td>Planung Elektro</td>
    </tr>
    <tr>
      <td>Herr Schumann</td>
      <td>Elektrotechnik</td>
      <td>Planung Elektro</td>
    </tr>
    <tr>
      <td>Herr Weber</td>
      <td>Dipl.-Ing. (FH)</td>
      <td>Planung HLS</td>
    </tr>
  </tbody>
</table>

<div class="row buero-heading-styling">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="col-md-6">
        <img class="mitarbeiter-img" src="/images/Team1.jpg" alt="GW PLAN - Planen mit Energie - GW Plan | Ingenieurgesellschaft Geb&auml;udetechnik GbR | Gie&szlig;erstra&szlig;e 18 | 04229 Leipzig" title="GW PLAN - PLANEN MIT ENERGIE" />
      </div>
      <div class="col-md-6">
        <h1 class="display-4">Die Inhaber</h1>
        <p class="lead">Der Werdegang von Karsten Wiedemuth und Jörg Gäbler</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-tablehead">
          <th scope="col">Jahr</th>
          <th scope="col">Karsten Wiedemuth</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-background">
          <th scope="row">1971</th>
          <td>geboren in Döbeln</td>
        </tr>
        <tr class="table-background">
          <th scope="row">1991</th>
          <td>Berufsabschluss Maschinen- und Anlagenmonteur mit Abitur</td>
        </tr>
        <tr class="table-background">
          <th scope="row">1991-1996</th>
          <td>Studium / Diplom TH Leipzig Fachrichtung Technische Gebäudeausrüstung</td>
        </tr>
        <tr class="table-background">
          <th scope="row">1996-2003</th>
          <td>Planungsingenieur Ing.-Büro Walter Schippert, VDI, Waiblingen / Leipzig</td>
        </tr>
        <tr class="table-background">
          <th scope="row">seit 2003</th>
          <td>Geschäftsführender Gesellschafter in der GW PLAN Ingenieurgesellschaft Gebäudetechnik</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-6">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-tablehead">
          <th scope="col">Jahr</th>
          <th scope="col">Jörg Gäbler</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-background">
          <th scope="row">1966</th>
          <td>geboren in Dresden</td>
        </tr>
        <tr class="table-background">
          <th scope="row">1985</th>
          <td>Abitur</td>
        </tr>
        <tr class="table-background">
          <th scope="row">1988-1993</th>
          <td>Studium / Diplom TU Dresden Fachrichtung Technische Gebäudeausrüstung</td>
        </tr>
        <tr class="table-background">
          <th scope="row">1993-1995</th>
          <td>Planungsingenieur decon Deutsche-Energie-Consult GmbH, Dresden</td>
        </tr>
        <tr class="table-background">
          <th scope="row">1995-2003</th>
          <td>Planungsingenieur Ing.-Büro Walter Schippert, VDI, Waiblingen / Leipzig</td>
        </tr>
        <tr class="table-background">
          <th scope="row">seit 2003</th>
          <td>Geschäftsführender Gesellschafter in der GW PLAN Ingenieurgesellschaft Gebäudetechnik</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<%- include("partials/footer"); -%>
