<%- include("partials/header"); -%>


<div class="row">
  <div class="col-lg-12">
    <h1 class="headline homepage-headline">Willkommen bei<img class=" logo" src="/images/Logo.png"></img></h1>
  </div>
</div>
<img class="img-fluid home-img" src="/images/Building.jpg" alt="GW PLAN - Planen mit Energie - GW Plan | Ingenieurgesellschaft Geb&auml;udetechnik GbR | Gie&szlig;erstra&szlig;e 18 | 04229 Leipzig" title="GW PLAN - PLANEN MIT ENERGIE" />

<h1 class="news-headline">Neuigkeiten:</h1>

<h3 class="news-heading"><a href="/news/stellenanzeige-bereich-hls-planung">Verstärkung im Bereich HLS-Planung gesucht</a></h3>
<hr>
<p>Zur Verstärkung unsereres Planungsteams suchen wir sofort einen</p>
<h2>Planungsingenieur</h2>
<br />
<h4>Bereich Sanitär, Heizung und Lüftung (w/m/d)</h4>
<h5>ALS DIPL.-ING. / MASTER / BACHELOR GEBÄUDETECHNIK
  ODER MIT VERGLEICHBARER QUALIFIKATION
  ZUR BEARBEITUNG ALLER PHASEN HOAI § 55</h5>
<br />
<p>Die GW PLAN Ingenieurgesellschaft Gebäudetechnik ist ein in Leipzig ansässiges Ingenieurbüro. Wir beraten unsere überregionalen Auftraggeber und planen Heizungs-, Lüftungs-, Sanitär- und Elektroanlagen in Gebäuden. Unsere privaten und öffentlichen
  Auftraggeber schätzen an uns einen unkomplizierten und lösungsorientierten Planungsverlauf und die effektive, zielstrebige Projektabwicklung bis zur Fertigstellung des Gebäudes. Kommen Sie auch ins Team?</p>
<p>Weitere Informationen und <strong><a href="https://www.dropbox.com/s/uxdpqig2uzjzmps/2022_anzeige_HLS.pdf?dl=0" target="_blank" rel="noopener">die komplette Stellenanzeige finden Sie hier als PDF</a></strong> und unter <strong><a
      href="/news/stellenanzeige-bereich-hls-planung">www.gwplan.de</a></strong>. Bei Rückfragen können Sie uns natürlich auch einfach unter +49&nbsp;341&nbsp;2618000 anrufen. Wir freuen uns auf Sie.&nbsp;</p>

<form action="/news/stellenanzeige-bereich-hls-planung">
  <button class="btn btn-primary readmore" type="submit"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>&nbsp Weiterlesen: Verstärkung im Bereich HLS-Planung gesucht</button>
</form>


<h3 class="news-heading"><a href="/news/erster-preis-beim-architektenwettbewerb">Erster Preis beim Architektenwettbewerb</a></h3>
<hr>
<h4 class="news-subheading">ERSTER PREIS BEIM ARCHITEKTENWETTBEWERB FÜR LUKA EHSER ARCHITEKTEN LEIPZIG - WIR HABEN MITGEWIRKT</h4><br />
<p>Für das Vorhaben Neubau „Astrid-Lindgren-Schule“ in Holzminden hatte die Stadt Holzminden einen Architektenwettbewerb ausgelobt. 20 eingereichte Arbeiten von Architekten und Arbeitsgemeinsschaften aus ganz Deutschland waren bei einem eintägigigen
  Bewertungsmarathon von den Preisrichtern zu bewerten...</p>

<form action="/news/erster-preis-beim-architektenwettbewerb">
  <button class="btn btn-primary readmore" type="submit"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>&nbsp Weiterlesen: Erster Preis beim Architektenwettbewerb</button>
</form>


<h3 class="news-heading"><a href="/news/vds-zertifizierung">VdS-Zertifizierung</a></h3>
<hr>
<h4 class="news-subheading">VDS-ZERTIFIZIERUNG VON FACHFIRMEN FÜR DIE PLANUNG VON SPRACHALARMANLAGEN (SAA) NACH DIN 14675</h4><br />
<p>Sprachalarmanlagen können im Brandfall auch ortsunkundige Personen durch gezielte Durchsagen in Sicherheit leiten. Außerdem ermöglichen sie die automatische Durchgabe verschiedenster vorbereiteter Nachrichten, sowie Sprachansagen durch
  Sicherheitsverantwortliche oder die Feuerwehr...</p>

<form action="/news/vds-zertifizierung">
  <button class="btn btn-primary readmore" type="submit"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>&nbsp Weiterlesen: VdS-Zertifizierung</button>
</form>


<%- include("partials/footer"); -%>
