<%- include("partials/header"); -%>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Impressum</h1>
  </div>
</div>

<hr>
<h3 class="impressum-heading">Angaben gemäß § 5 TMG:</h3>
<p><span style="color: #154c91;"><strong>GW PLAN </strong></span>Ingenieurgesellschaft Gebäudetechnik GbR<br /> Gießerstraße 18<br /> 04229 Leipzig</p>
<h3 class="impressum-heading">Vertreten durch:</h3>
<p>Dipl.-Ing. Jörg Gäbler</p>
<p>Dipl.-Ing. Karsten Wiedemuth</p>
<h3 class="impressum-heading">Kontakt:</h3>
<p>Telefon: +49 341 26 18 000<br />Telefax: +49 341 26 18 001</p><br /><br />
<p>E-Mail: <span id="cloak11776f21577386eeb2278d7a5dd8d144">Diese E-Mail-Adresse ist vor Spambots geschützt! Zur Anzeige muss JavaScript eingeschaltet sein!</span>
  <script type='text/javascript'>
    document.getElementById('cloak11776f21577386eeb2278d7a5dd8d144').innerHTML = '';
    var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
    var path = 'hr' + 'ef' + '=';
    var addy11776f21577386eeb2278d7a5dd8d144 = 'p&#111;st' + '&#64;';
    addy11776f21577386eeb2278d7a5dd8d144 = addy11776f21577386eeb2278d7a5dd8d144 + 'gwpl&#97;n' + '&#46;' + 'd&#101;';
    var addy_text11776f21577386eeb2278d7a5dd8d144 = 'p&#111;st' + '&#64;' + 'gwpl&#97;n' + '&#46;' + 'd&#101;';
    document.getElementById('cloak11776f21577386eeb2278d7a5dd8d144').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy11776f21577386eeb2278d7a5dd8d144 + '\'>' + addy_text11776f21577386eeb2278d7a5dd8d144 + '<\/a>';
  </script>
</p>


<%- include("partials/footer"); -%>
