<%- include("partials/header"); -%>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="headline display-4">Was können wir für Sie tun?</h1>
    <p class="lead">Planen - Beraten - Kontrollieren</p>
  </div>
</div>

<div>
  <p>Wir bieten unseren Kunden Planungsleistungen der Technischen Gebäudeausrüstung und damit in Zusammenhang stehende Leistungen an.</p>
  <p>Unsere Kunden haben für alle technischen Gewerke nur einen Ansprechpartner, alle Leistungen werden im eigenen Haus bearbeitet.</p>
  <p>Unsere Kernkompetenz beinhaltet Planungs- und Beratungsdienstleistungen in den Gewerken Heizungs-, Sanitär-, Kälte- und Lüftungstechnik sowie im Gewerk Elektrotechnik und MSR.</p>
  <p>Der Kunde erhält mit unserer Leistung weitgehende Kostensicherheit und eine Planung nach den anerkannten Regeln der Technik.</p>
  <p>Basis unserer Tätigkeit ist die Honorarordnung für Architekten und Ingenieure (HOAI).</p>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 leistung-second-heading">Industrie. Gesellschaftsbau. Wohnungsbau. Einfamilienhaus.</h1>
  </div>
</div>

<p>Unsere Planungs- und Beratungsleistung wird für Sie mit der Sorgfalt eines ordentlichen Ingenieurs erarbeitet und mit Hilfe zeitgemäßer Datenverarbeitungstechnik dokumentiert.</p>
<p>Wir sind bei der Ingenieurkammer Sachsen unter der Nummer 12095 als beratende Ingenieure eingetragen.</p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb lead">
    <li class="breadcrumb-item active" aria-current="page">Außerdem bieten wir folgendes an:</li>
  </ol>
</nav>

<div class="row table-offerings">
  <div class="col-sm-6 table-box">
    <ul class="list-group table-box">
      <li class="list-group-item">Analyse bestehender Anlagen</li>
      <li class="list-group-item">Brandmeldeanlagenplanung nach DIN 14 675</li>
      <li class="list-group-item">Baukostenoptimierung</li>
      <li class="list-group-item">Betriebskostenoptimierung</li>
      <li class="list-group-item">Elektroanlagen</li>
      <li class="list-group-item">Wirtschaftlichkeitsnachweise VDI 2067 + 6025</li>
      <li class="list-group-item">Gasrohrnetze</li>
      <li class="list-group-item">Gebäudeautomatisierung</li>
      <li class="list-group-item">Heizungsanlagen</li>
      <li class="list-group-item">Kälteanlagen</li>
      <li class="list-group-item">Klimaanlagen</li>
      <li class="list-group-item">Lüftungsanlagen</li>
    </ul>
  </div>
  <div class="col-sm-6 table-box">
    <ul class="list-group table-box">
      <li class="list-group-item">Photovoltaikanlagen</li>
      <li class="list-group-item">Regenwassernutzungsanlagen</li>
      <li class="list-group-item">Regenwasserversickerungsanlagen</li>
      <li class="list-group-item">Rohrnetzberechnungen</li>
      <li class="list-group-item">Sanitäranlagen</li>
      <li class="list-group-item">Schwimmbadtechnik</li>
      <li class="list-group-item">Solarthermische Anlagen</li>
      <li class="list-group-item">Trinkwasserhygiene nach TWVO</li>
      <li class="list-group-item">Trinkwassernetze</li>
      <li class="list-group-item">Vollkostenvergleiche</li>
      <li class="list-group-item">Wärmepumpenanlagen</li>
      <li class="list-group-item">Warmwasserbereitung</li>
    </ul>
  </div>
</div>
<ul class="list-group">
  <li class="last-item list-group-item table-offerings">Entwässerungsanlangen innerhalb und außerhalb von Gebäuden</li>
</ul>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb lead">
    <li class="breadcrumb-item active" aria-current="page">Sie sind...</li>
  </ol>
</nav>

<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<p class="customer">&nbsp privater Bauherr</p><br />
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<p class="customer">&nbsp Architekt</p><br />
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<p class="customer">&nbsp Generalplaner</p><br />
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<p class="customer">&nbsp Generalunternehmer</p>

<p>oder</p>

<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<p class="customer">&nbsp Entscheider bei der öffentlichen Hand?</p>
<br /><br />
<p>Sie möchten sich z.B. über die Pflichten des Betreibers einer Trinkwasseranlage nach der neuen Trinkwasserverordnung informieren?</p>

<p>Sie möchten wissen, ob sich eine Solar-, Wärmepumpen-, oder Photovoltaikanlage rentieren würde? Oder Sie benötigen unabhängige Unterstützung bei der Abnahme Ihres neuen Hauses und möchten prüfen lassen, ob die gelieferte Leistung auch das
  beinhaltet, was Sie bestellt haben?</p>
<p>Sie bereiten ein Vorhaben vor, möchten bauen oder sich beraten lassen. Sie benötigen eine Kostenschätzung?</p>

<p><strong><a href="/kontakt">Sprechen Sie uns an.</a></strong></p>

<p>Wir können Ihnen helfen. Von der Kostenschätzung bei der Budgetierung über Variantenbetrachtung bis zum fertigen Bau sind wir Ihr Partner.</p>
<p>Gerne unterbreiten wir Ihnen ein faires Angebot über unsere Leistungen.</p>
</div>


<%- include("partials/footer"); -%>
