<%- include("partials/header"); -%>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="headline display-4">Referenzen</h1>
    <p class="lead">Zufriedene Kunden</p>
  </div>
</div>

<p class="references-paragraph">In unserer <strong><a href="https://www.dropbox.com/s/awh6um48xanayma/Referenzen_GW_PLAN.pdf?dl=0" target="_blank">Projektliste im PDF-Format zum Herunterladen</a></strong> finden Sie ausgewählte Projekte und Referenzen aus den Bereichen:</p>

<div class="row references">
  <div class="references-box col-lg-4">

    <div class="card">
      <div class="img">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="content">
        <h2>Gewerbebauten</h2>
        <h4>Wir planen und realisieren maßgeschneiderte Gewerbebauten für Unternehmen jeder Größe und Branche.</h4>
      </div>
    </div>
    <h3 class="references-img-title">Gewerbebauten</h3>
  </div>

  <div class="references-box col-lg-4">
    <div class="card2">
      <div class="img">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="content">
        <h2>Öffentliche Bauten</h2>
        <h4>Wir gestalten und realisieren öffentliche Bauten wie Schulen und Verwaltungsgebäude nach höchsten Standards.</h4>
      </div>
    </div>
    <h3 class="references-img-title">Öffentliche Bauten</h3>
  </div>

  <div class="references-box col-lg-4">
    <div class="card3">
      <div class="img">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="content">
        <h2>Wohnbauten</h2>
        <h4>Unser erfahrenes Team plant und baut individuelle Wohnbauten, die den höchsten Ansprüchen an Komfort und Ästhetik gerecht werden.</h4>
      </div>
    </div>
    <h3 class="references-img-title">Wohnbauten</h3>
  </div>
</div>

<p class="references-paragraph"><strong><a href="/kontakt">Sprechen Sie uns an</a></strong>, wenn Sie Fragen zu den verschiedenen Bauprojekten und unseren Leistungen haben.</p>


<%- include("partials/footer"); -%>
