<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title><%- pageTitle -%> - GW PLAN Ingenieurgesellschaft Gebäudetechnik - PLANEN MIT ENERGIE</title>
  <meta charset="utf-8">
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');
  </style>

  <script src="https://kit.fontawesome.com/a2c9eac8e3.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>

  <div class="jumbotron text-center">
    <h1 class="display-3">Ihre Email wurde versendet.</h1>
    <p class="lead"><strong>Unser Team wird auf ihre Anfrage zeitnah eingehen und sich mit ihnen in Verbindung setzen.</strong></p>
    <hr>
    <p>
      Probleme oder Fragen? <a href="/kontakt">Kontaktieren Sie uns.</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Zurück zur Webseite</a>
    </p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>

</body>

</html>
