<%- include("../partials/header"); -%>


<div class="jumbotron jumbotron-fluid first-price-jumbotron">
  <div class="container">
    <h1 class="display-4">Erster Preis beim Architektenwettbewerb</h1>
  </div>
</div>
<hr>

<h3 class="first-price-heading">ERSTER PREIS BEIM ARCHITEKTENWETTBEWERB FÜR LUKA EHSER ARCHITEKTEN LEIPZIG - WIR HABEN MITGEWIRKT</h3><br />
<p>Für das Vorhaben Neubau „Astrid-Lindgren-Schule“ in Holzminden hatte die Stadt Holzminden einen Architektenwettbewerb ausgelobt. 20 eingereichte Arbeiten von Architekten und Arbeitsgemeinsschaften aus ganz Deutschland waren bei einem eintägigigen
  Bewertungsmarathon von den Preisrichtern zu bewerten. Der 1. Preis ging an die Arbeitsgemeinschaft unter luka ehser architekten PartGmbB. Es gab keinen 2. Preis und 2 mal 3. Preise. Wir gratulieren den Siegern.</p><br />
<p><strong><a href="https://www.competitionline.com/de/ergebnisse/348846" target="_blank" rel="noopener">Das Preisgericht würdigte</a></strong> besonders die klare Gliederung des Entwurfes, die gute Eignung für die vorgesehene Nutzung als
  Grundschule, die Flexibilität der Nutzung und die optionale Erweiterbarkeit. Das energetische Konzept wurde <strong><a href="https://www.competitionline.com/de/beitraege/186983" target="_blank" rel="noopener">bei der Bewertung ebenfalls
      hervorgehoben</a></strong>, da innovative Lösungen mehrfach aufgezeigt wurden. Hierüber freuen wir uns besonders, da wir mit dem von unserem Büro erarbeiteten Energiekonzept beim Wettbewerbserfolg mitwirken durften.</p><br />
<p><a href="https://lep-architekten.de/astrid-lindgren-grundschule/" target="_blank" rel="noopener"><img class="img-fluid price-img" title="Astrid-Lindgren Grundschule - Perspektive | Link zur Projektseite bei luka ehser architekten PartGmbB    "
      src="/images/lukaehser_architekten_PartGmbB.jpg" alt="lukaehser architekten PartGmbB" /></a></p>
<p>&nbsp;</p>
<h6 style="text-align: right;">© luka ehser architekten PartGmbB</h6>


<%- include("../partials/footer"); -%>
