<%- include("../partials/header"); -%>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Verstärkung im Bereich HLS-Planung gesucht</h1>
  </div>
</div>
<hr>

<p>Zur Verstärkung unsereres Planungsteams suchen wir sofort einen</p>

<h2>Planungsingenieur</h2>
<br />
<h4>Bereich Sanitär, Heizung und Lüftung (w/m/d)</h4>
<h5>ALS DIPL.-ING. / MASTER / BACHELOR GEBÄUDETECHNIK
  ODER MIT VERGLEICHBARER QUALIFIKATION
  ZUR BEARBEITUNG ALLER PHASEN HOAI § 55</h5>
<br />
<p>Die GW PLAN Ingenieurgesellschaft Gebäudetechnik ist ein in Leipzig ansässiges Ingenieurbüro. Wir beraten unsere überregionalen Auftraggeber und planen Heizungs-, Lüftungs-, Sanitär- und Elektroanlagen in Gebäuden. Unsere privaten und öffentlichen
  Auftraggeber schätzen an uns einen unkomplizierten und lösungsorientierten Planungsverlauf und die effektive, zielstrebige Projektabwicklung bis zur Fertigstellung des Gebäudes. Kommen Sie auch ins Team?</p>
<p>Weitere Informationen und <strong><a href="https://www.dropbox.com/s/uxdpqig2uzjzmps/2022_anzeige_HLS.pdf?dl=0" target="_blank" rel="noopener">die komplette Stellenanzeige finden Sie hier als PDF.</a></strong></p>

<br />
<h4>Unser Angebot</h4>
<ul>
  <li class="icon-chevron-right">&nbsp;&nbsp;Sie haben bei uns eine abwechslungsreiche Tätigkeit in einem produktiven Umfeld und einem Team, das Ihre Leistung zu schätzen weiß.</li>
  <li class="icon-chevron-right">&nbsp;&nbsp;Sie erhalten Einarbeitung in Ihr Aufgabengebiet und übernehmen dieses dann selbständig.</li>
  <li class="icon-chevron-right">&nbsp;&nbsp;Wir bieten eine leistungsgerechte, attraktive Vergütung und die Möglichkeit der flexiblen Arbeitszeitregelung.</li>
  <li class="icon-chevron-right">&nbsp;&nbsp;Wir bieten eine langfristige Tätigkeit mit fachlichen und finanziellen Entwicklungsmöglichkeiten.</li>
  <li class="icon-chevron-right">&nbsp; Auf Wunsch erhalten Sie einen Firmenwagen oder einen Mobilitätszuschuss.</li>
</ul>
<br />
<h4>Ihre Aufgaben</h4>
<ul>
  <li class="icon-chevron-right">&nbsp;&nbsp;Sie planen Sanitär-, Heizungs- und Lüftungsanlagen für Gebäude in Abstimmung mit allen internen und externen Planungsbeteiligten.</li>
  <li class="icon-chevron-right">&nbsp;&nbsp;Sie betreuen den Bau technisch und wirtschaftlich als Objektüberwachung.</li>
  <li class="icon-chevron-right">&nbsp;&nbsp;Sie kommunzieren die Zwischen- und Endstände regelmäßig mit dem Planungsteam und dem Auftraggeber.</li>
  <li class="icon-chevron-right">&nbsp;&nbsp;Sie arbeiten zunächst als Sachbearbeiter, später projektleitend.</li>
</ul>
<br />
<h4>Ihr Profil</h4>
<ul>
  <li class="icon-chevron-right">&nbsp;&nbsp;Sie sollten Freude an Ihrem Beruf haben.</li>
  <li class="icon-chevron-right">&nbsp;&nbsp;Sie sind Dipl.–Ing. /Master/Bachelor der Fachrichtung Energietechnik, Technische Gebäudeausrüstung oder haben eine vergleichbare Qualifikation.</li>
  <li class="icon-chevron-right">&nbsp;&nbsp;Sie haben bereits Erfahrung in Planung, Ausschreibung und Objektüberwachung auf Basis der relevanten Regelwerke und Normen, HOAI und VOB und Sie können Anwenderkenntnisse in Office-, CAD- und
    Branchensoftware vorweisen.</li>
  <li class="icon-chevron-right">&nbsp;&nbsp;Absolventen sollen die Bereitschaft zur Einarbeitung und Weiterbildung mitbringen.</li>
  <li class="icon-chevron-right">&nbsp;&nbsp;Sie sind kommunikativ und haben einen verantwortungsbewussten Arbeitsstil.</li>
</ul>
<br />
<p>Wenn wir Ihr Interesse geweckt haben, senden Sie Ihre Bewerbungsunterlagen bitte an uns.</p>
<p><strong><a href="https://www.dropbox.com/s/uxdpqig2uzjzmps/2022_anzeige_HLS.pdf?dl=0" target="_blank" rel="noopener">Diese Ausschreibung finden Sie auch als PDF-Download hier...</a></strong></p>
<h5>GW PLAN Ingenieurgesellschaft Gebäudetechnik | Gießerstraße 18 | 04229 Leipzig | oder per E-Mail an <span id="cloak8f77c45dff8f5d12d12585d2ae329be9">Diese E-Mail-Adresse ist vor Spambots geschützt! Zur Anzeige muss JavaScript eingeschaltet
    sein!</span>
  <script type='text/javascript'>
    document.getElementById('cloak8f77c45dff8f5d12d12585d2ae329be9').innerHTML = '';
    var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
    var path = 'hr' + 'ef' + '=';
    var addy8f77c45dff8f5d12d12585d2ae329be9 = 'jg' + '&#64;';
    addy8f77c45dff8f5d12d12585d2ae329be9 = addy8f77c45dff8f5d12d12585d2ae329be9 + 'gwpl&#97;n' + '&#46;' + 'd&#101;';
    var addy_text8f77c45dff8f5d12d12585d2ae329be9 = 'jg' + '&#64;' + 'gwpl&#97;n' + '&#46;' + 'd&#101;';
    document.getElementById('cloak8f77c45dff8f5d12d12585d2ae329be9').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy8f77c45dff8f5d12d12585d2ae329be9 + '\'>' + addy_text8f77c45dff8f5d12d12585d2ae329be9 + '<\/a>';
  </script>
</h5>


<%- include("../partials/footer"); -%>
