<%- include("../partials/header"); -%>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">VdS-Zertifizierung</h1>
  </div>
</div>
<hr>

<h3 class="vds-heading">VDS-ZERTIFIZIERUNG VON FACHFIRMEN FÜR DIE PLANUNG VON SPRACHALARMANLAGEN (SAA) NACH DIN 14675</h3>
<p>Sprachalarmanlagen können im Brandfall auch ortsunkundige Personen durch gezielte Durchsagen in Sicherheit leiten. Außerdem ermöglichen sie die automatische Durchgabe verschiedenster vorbereiteter Nachrichten, sowie Sprachansagen durch
  Sicherheitsverantwortliche oder die Feuerwehr.</p><br />
<p>Entsprechend DIN 14675, Abschnitt 4.2.1 ist auch die Planung für SAA durch eine Fachfirma zu erbringen. Die Fachkompetenz der Fachfirma ist insbesondere nachgewiesen, wenn sie durch eine nach DIN EN 45011 akkreditierte Stelle zertifiziert worden
  ist.</p><br />
<div class="vds-container">
  <p><strong><span style="color: #154c91;">GW PLAN</span></strong> ist nun auch in der in der Lage, folgende Leistungen für Sie zu erbringen:</p>
  <p class="vds-entry"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>&nbsp Planung von SAA (Entwurfs- und Ausführungsplanung – ohne Bezug auf ein bestimmtes Sprachalarmsystem)</p>
  <p>Wir sind nunmehr VdS-zertifizierte Fachfirma für <strong>Brandmeldeanlagen </strong>und <strong>Sprachalarmanlagen </strong>nach DIN 14675 Planung (Zertifikate Nr. F2121378 &nbsp;/ F22150266)</p>
  <p class="vds-contact"><a href="/kontakt">Bitte sprechen Sie uns bei Interesse an.</a></p>
</div>


<%- include("../partials/footer"); -%>
